asgiref==3.3.2
Django
pytz==2020.5
sqlparse==0.4.2
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.2
markdown
psycopg2-binary
django-filter
django-cors-headers
drf-yasg
inflection
jsonschema
jsonschema-specifications
packaging
pyYaml
referencing
rpds-py
typing-extensions
uritemplate
PyJWT<2.0.0
setuptools
Pillow
mongoengine
