{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Karen Ribeiro e Liana Carvalho">
    <meta name="description" content="Projeto em Django para a primeira unidade da disciplina de Desenvolvimento Web II - 2025.1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>

    <title>Blog</title>
    
</head>

<body>
   
    <main class="main">
        <div class="cover">
            <h1 class="cover__name">Blog</h1><!-- Título da página -->
            <p class="cover__description"> Share your ideas and opinions here! </p><!-- Descrição da página -->           
    </main> 

    {% block content %}

    {% endblock content %}


</body>

<footer>
    <p>&copy; 2025 Blog. All rights reserved.</p>    
</footer>

</html>